<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.droidlover.xdroidmvp.demo">


    <application
        android:name="cn.projects.team.demo.App"
        android:allowBackup="true"
        android:icon="@drawable/ios8_contacts_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.projects.team.demo.ui.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.projects.team.demo.ui.AddContactsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="cn.projects.team.demo.ui.ImportExportActivity" />
        <activity android:name="cn.projects.team.demo.ui.ContactGroupActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="cn.projects.team.demo.ui.AddContactGroupActivity" />
        <activity android:name="cn.projects.team.demo.ui.GroupContactActivity" android:windowSoftInputMode="adjustPan"/>


    </application>

</manifest>